*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   /* background-color: black;*/
}

body{
    font-family: 'Poppins',sans-serif;
}
.header{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 204, 0);
    
}
.top{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(255, 204, 0);
}
.nav_bar{
    flex: 1;
}
.end-div{
    width: 200px; /*Containg Sign In*/
}

.sign-in-box {
    background-color: #2C4A87; /* Blue background color */
    padding: 10px; /* Add padding */
    margin-left: 25px;
    margin-right: 20px;
    transition: all 0.5s ease;
}
.sign-in-box:hover{
    background-color:purple; /* Blue background color */

}
.sign-in-button {
    color: white; /* White text color */
    text-decoration: none; /* Remove underline */
    padding: 10px;
    padding-left: 40px;
}


.sign-in-button:hover {
    text-decoration: underline; /* Underline on hover */
    /* color: black; */
}

.bottom{
    background-color: rgb(0, 52, 102);
    height: 50px;
    display: flex;
    align-items: center;
}
.marq-text{
    color: white;
}
.logo{
    width: 100%;
    height: auto;
}
.logo-div{
    width: 200px;
    margin-right: 20px;
}
.navigation{
    display: flex;
    /*justify-content: center;*/
    list-style: none;
    padding: 0;
    /*background-color: yellow;*/
}
.navigation2{
    display: flex;
    /*justify-content: center;*/
    list-style: none;
    padding: 0;
    background-color: yellow;
}

.nav_link{
    text-decoration: none;
    color: black;
    transition: color 0.03s;
    padding: 20px 20px;
}

.nav_item {
    align-content: center;
    margin: 25px 25px;
    padding: 5px 5px;
    position: relative;
    
    transition: all 0.3s ease; /* Add transition for smooth animation */
}

.nav_item:hover {
    /* Add border */
    /* Add rounded corners */
    position: relative;
    margin: 25px 25px;
    padding: 5px 5px; /* Add padding */
    background-color: #2C4A87;
    opacity: 0.9;
    border-radius: 5px;
    color: white;
    text-align: center;
   /*Increase width*/
    height: 120%; /*Increase height*/ 
}




.nav_link:hover {
    /*color: #1abc9c;*/
    color: white;
}
img{
    justify-content: flex-start;
    width: fit-content;
    height: 80px;
}
