*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   /* background-color: black;*/
}

body{
    font-family: 'Poppins',sans-serif;
}
.header{
    display: flex;
    flex-direction: column;
    height: 250px;
    /*background-color: rgb(255, 204, 0);*/
    
}
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above other content */
}

.loading-logo {
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.blurred-background {
    filter: blur(5px); /* Adjust blur amount */
    pointer-events: none; /* Allows interaction with elements underneath */
}

/* Optional: Overlay to prevent interaction */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255); /* Semi-transparent background */
    z-index: 999; /* Ensure it's above other content except the loader */
    pointer-events: none; /* Allows interaction with elements underneath */
}
.top{
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /*background-color: rgb(255, 204, 0);*/
}
.container-nav-sign{
    align-items: center;
    display: flex;
}
.nav_bar{
    flex: 1;
}
.end-div{
    width: 200px; /*Containg Sign In*/
}

.sign-in-box {
    background-color: #2C4A87; /* Blue background color */
    padding: 10px; /* Add padding */
    margin-left: 25px;
    margin-right: 20px;
    transition: all 0.5s ease;
    border-radius: 2px;
}
.sign-in-box:hover{
    background-color:purple; /* Blue background color */

}
.sign-in-button {
    color: white; /* White text color */
    text-decoration: none; /* Remove underline */
    padding: 10px;
    padding-left: 40px;
}


.sign-in-button:hover {
    text-decoration: underline; /* Underline on hover */
    /* color: black; */
}

.bottom{
    /*background-color: rgb(0, 52, 102);*/
    background-color: #639;
    border-radius: 5px;
    height: 50px;
    display: flex;
    align-items: center;
}
.marq-text{
    color: white;
}
.logo{
    width: 100%;
    height: auto;
}
.logo-div{
    width: 200px;
    margin-right: 20px;
}
.navigation{
    display: flex;
    /*justify-content: center;*/
    margin-left: auto;
    list-style: none;
    padding: 0;
    /*background-color: yellow;*/
}
.navigation2{
    display: flex;
    /*justify-content: center;*/
    list-style: none;
    padding: 0;
    background-color: yellow;
}

.nav_link{
    text-decoration: none;
    color: black;
    transition: color 0.03s;
    padding: 20px 20px;
}

.nav_item {
    align-content: center;
    margin: 15px 15px;
    padding: 5px 5px;
    position: relative;
    height: 80px;
    transition: all 0.3s ease; /* Add transition for smooth animation */
}

.nav_item:hover {
    /* Add border */
    /* Add rounded corners */
    position: relative;
    margin: 25px 25px;
    padding: 5px 5px; /* Add padding */
    background-color: #2C4A87;
    opacity: 0.9;
    border-radius: 5px;
    color: white;
    text-align: center;
   /*Increase width*/
    height: 80px; /*Increase height*/ 
}
.nav_link:hover {
    /*color: #1abc9c;*/
    color: white;
}
img{
    justify-content: flex-start;
    width: fit-content;
    height: 80px;
}
.footer {
    /*background-color: #333; /* Footer background color */
    background-color: rgb(229, 231, 235);
    background-color: #a27fbd;
    border-top: 1px solid grey;
    color: #fff; /* Text color */
    padding: 10px; /* Padding around content */
    position: absolute; /* Set position to fixed */
    bottom: 0; /* Position at the bottom of the viewport */
    width: 100%; /* Take full width */
    height: 205px; /* Set the height */
    line-height: 30px; /* Adjust line height for vertical centering */
    z-index: 100; /* Set a higher z-index */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-links, .contact-info {
    flex: 1;
    margin-right: 20px; /* Add some space between sections */
}

.footer-links h3, .contact-info h3 {
    margin-bottom: 10px; /* Add some space below headings */
}

.footer-links ul, .contact-info ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li, .contact-info ul li {
    margin-bottom: 5px; /* Add some space between list items */
}

.footer-links a {
    color: #fff; /* Link color */
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline; /* Underline on hover */
}

.copyright {
    margin-top: 20px; /* Add some space above copyright */
    text-align: center;
}
.heading-container {
    text-align: center; /* Center-align the content */
    margin-bottom: 20px; /* Add space below the heading */
    margin-top: 10px;
}

.heading-line {
    display: inline-block; /* Display the line as inline-block */
    width: 70%; /* Set the width of the line */
    margin-top: 5px; /* Add space above the line */
    border-top: 1px solid #ccc; /* Style the line */
}